@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark, night;
}
body {
  font-family: "Montserrat", sans-serif;
}
.logo {
  font-family: "Press Start 2P", system-ui !important;
}
